.photo-table-container[data-v-395f7679]{width:100%}[data-v-395f7679] .el-table__inner-wrapper:before{display:none}[data-v-395f7679] .el-table__row{border-bottom:none}[data-v-395f7679] .el-table__cell{border:none}
